<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Pet</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<h1>
    Add Pet
</h1>
<body>
<form id="add-pet-form" th:action="@{/pet/add}"
      th:method="post" action="add-pet-page.html">
  <h2>Pet Info:</h2>

  <div class="row">
    <label for="pet-input">Name:</label>
    <input id="pet-input" name="pet" type="text" value=""/>
  </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>