<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
Genres:
<body>
<table>
    <tr th:each="pet: ${pets}">
        <td th:text="${pet.id}">The Pet Id</td>
        <td th:text="${pet.pet}">The Pet pet</td>
        <td>
            <a th:href="@{/pet/{id}/edit(id=${pet.id})}" href="edit-pet-page.html">Update</a>
        </td>
        <td>
            <a th:href="@{/pet/{id}/delete(id=${pet.id})}" href="delete-pet-page.html">Delete</a>
        </td>
    </tr>
</table>

<a th:href="@{/pet/add}" href="add-pet-page.html">Add new Genre</a>
</body>
</html>